<ul id="menu">
    <li><p class="logo">Logo</p></li> <br>
    
      <!-- Logg inn eller Logg ut -->
      <% if (user != 'undefined') { %>
        <% if (user != '') { %>
            <li style="margin-left: 35%;"><p>Quotes - <%= user %></li>
            <li style="float: right;"><p><a href="/LoggUt">log out</a></p></li>
        <% } else { %>
            <li style="margin-left: 35%;"><p>Quotes</p></li>
            <li style="float: right;"> <a href="/sign-in">Logg inn</a></li>
        <% } %>
      <% } else { %>
          <li style="margin-left: 35%;">Quotes</li>
          <li style="float: right;"><a href="/sign-in">Logg inn</a></li>
      <% } %>
  </ul>  
  <hr>