<ul id="menu">
    <li><p>Logo</p></li> <br>
    
      <!-- Logg inn eller Logg ut -->
      <% if (user != 'undefined') { %>
        <% if (user != '') { %>
            <li style="margin-left: 42%;">Quotes - <%= user %></li>
            <li style="float: right;"><a href="/LoggUt">Log out</a></li>
        <% } else { %>
            <li style="margin-left: 45%;">Quotes</li>
            <li style="float: right;"> <a href="/sign-in">Log in</a></li>
        <% } %>
      <% } else { %>
          <li style="margin-left: 45%;">Quotes</li>
          <li style="float: right;"><a href="/sign-in">Log in</a></li>
      <% } %>
  </ul>  
  <hr>