<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <b><h1><%= quote.quoteitem %></h1></b><br>
        <p style="float: right;"><%= quote.quoteorigin %></p>
    </div>
</body>
</html>