<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="contain">
        <b><h1><%= quote.quoteitem %></h1><p class="origin"><%= quote.quoteorigin %></p>
    </div>
</body>
</html>