<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <br> <br>

    <div>
        <% if (quote.length > 0) { %> 
            <% quote.forEach(quote => { %>
                <div class="container">
                    <b><h2 class="h1mod"><%= quote.quoteitem %></h2><p class="origin"><%= quote.quoteorigin %></p>
                </div> <br>
            <% }) %>
        <% } else { %>
            <h2>No quotes</h2>
        <% } %>
    </div>
</body>
</html>