<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <br> <br>

    <div>
        <% if (quote.length > 0) { %> 
            <% quote.forEach(quote => { %>
                <h2><%= quote.quoteitem %></h2><br>
                <p><%= quote.quoteorigin %></p>
            <% }) %>
        <% } else { %>
            <h2>No quotes</h2>
        <% } %>
    </div>
</body>
</html>