<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h1>User manual for the new functions</h1>
        <br> <br>
        <h2>Hvordan fungerer edit?</h2>
    </div>
</body>
</html>